nav {
  display: flex;
  justify-content: center;
  gap: 2%;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.valgt {
  background-color: red;
}

img {
  max-width: 100%;
}
