* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(176, 148, 139);
}

.container {
  margin: 2% 2%;
  justify-content: center;
  align-items: center;
  display: grid;
}

.container img {
  max-width: 55%;
  border-radius: 50%;
  margin: 0 auto;
}

.container h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto;
  font-family: "Nixie One", cursive;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
}

nav button {
  min-width: 100px;
  background-color: #445e72;
  /* box-shadow: #263440 3px 4px 2px; */
  border: none;
  border-radius: 6px;
  height: 30px;
  margin: 6px;
  color: white;
  cursor: pointer;
}

nav button:hover {
  text-decoration: underline;
}

main {
  max-width: 1450px;
  margin: 5% auto;
  /* display: flex;
  justify-content: center; */
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin: 0 7%;
}

#popup {
  margin: 0;
}

article {
  background-color: blanchedalmond;
  border-radius: 25px;
  overflow: hidden;
  margin: 2% 4%;
  cursor: pointer;
}

.indhold {
  padding: 0 8%;
}

.navn {
  font-size: 1.7rem;
}

.info {
  font-size: 0.8rem;
  color: rgb(72, 72, 72);
}

.kortbeskrivelse {
  font-size: 1rem;
}

.valgt {
  background-color: rgb(105, 119, 130);
}

img {
  max-width: 100%;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  flex-direction: column;
  overflow: scroll;
}

#luk {
  position: fixed;
  left: 20%;
  padding: 1em;
  font-size: 1.7em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.article::-webkit-scrollbar {
  /* chrome*/
  display: none;
}

#popup article {
  width: 80vw;
  margin: 4rem auto;
  border-radius: 25px;
  /* padding: 12px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

#popup article p {
  max-width: 50ch;
}

#popup article img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  header {
    max-width: 900px;
    display: grid;
    margin: 0 auto 80px;
  }

  .container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    max-height: 150px;
  }
  .container img {
    max-width: 300px;
  }

  nav {
    display: flex;
  }

  #popup article {
    width: 40vw;
  }
}
